body{
    background-image: url("bg.jpg");
    background-color:#fff; 
    background-repeat: no-repeat;
    background-position: right 10px center ;
    background-attachment: fixed;
    background-size: 35%;
}
h1 {
    color: blue;
}

#title {
    font-family: 'Indie Flower', cursive;
    font-size: 40px;
}

.w3-btn{
    background-color: #e1e1e1;
    font-weight: 500;
}
a:hover {
    color: black;
    text-decoration: none;
}
.contactMOBILE {
    display:none;
}

hr.style-six {
    border: 0;
    height: 0;
    width: 68%;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

/* Phone */
@media (max-width:375px) {
    h1 {
        color: red;
    }
    body {
        background-image: none;
    }
    .contactMOBILE {
        display:block;
    }
    .contactDesc {
        display:none;
    }
    .fa-linkedin{
        font-size:20px;
    } 
        
    .fa-google{
        font-size:18px;
    } 

    hr.style-six {
        width: 100%;
    }
}
