.vertical-menu {
    width: 250px;
    height: 100vh;
    position: fixed;
    background-color: #d9f4ef;
    font-family: 'Asap Condensed', sans-serif;
  }
  
  .vertical-menu a {
    background-color:#d9f4ef; /* Grey background color */
    color: black; /* Black text color */
    display: block; /* Make the links appear below each other */
    padding: 12px; /* Add some padding */
    text-decoration: none; /* Remove underline from links */
  }
  
  .vertical-menu a:hover {
    background-color:#f5f5f5; /* Dark grey background on mouse-over */
  }
  
  .vertical-menu a.active {
    background-color: #00ebd5; /*Add a green color to the "active/current" link*/
    color: black;
  }

  #about{
    font-size: 32px;
  }

  #about1{
    font-size: 18px;
    font-style: italic;
  }
.dropdown{
    display: none;
}

.drop {
    display: none;
}

.row a:hover{
background-color: #d9f4ef !important;
}

.fa-linkedin{
  font-size:24px;
} 
  
.fa-google{
  font-size:22px;
  margin-top: 1.5px;
} 

/* Phone */
@media (max-width:375px) {
  .vertical-menu {
      width: 160px;
      display: none;
  }
    .drop {
        display: block;
        position: fixed;
        left: 0;
        right: 0;
        z-index: 2;
    }
    .hori-menu {
        display: block;
    }
    
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0 0 0 0;
        background-color: #d9f4ef;
        font-family: 'Asap Condensed', sans-serif;
      }
      
      li {
        float: left;
        color: black;
      }
      
      li a, .dropbtn {
        display: inline-block;
        color: black;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
      }
      
      li a:hover, .dropdown:hover .dropbtn {
        background-color: #00ebd5;
      }
      
      li.dropdown {
        display: inline-block;
      }
      
      .dropdown-content {
        display: none;
        position: absolute;
        background-color: #d9f4ef;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
      }
      
      .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-align: left;
      }
      
      .dropdown-content a:hover {
          background-color:#00ebd5;}
      
      .dropdown:hover .dropdown-content {
        display: block;
        width: 25em;
      }

      .fa-linkedin{
        font-size:22px;
    } 
        
    .fa-google{
        font-size:18px;
        margin-top: 0.8px;
        margin-left: -0.6em;
    } 
}

